body{
    background-color: rgb(212, 204, 204);
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  background-color: white;
  width:fit-content;
  margin: 20px;
  background-position: center center;
  background-size: cover;
}









/*media stuff*/

@media screen and (max-width: 1400px){

  .banner .welcome {
    font-size: 40px;
  }

@media screen and (max-width: 960px){

  .banner .welcome {
    font-size: 28px;
  }
  nav li{
    font-size: 18px;
  }

@media screen and (max-width: 700px){

  .banner .welcome {
    position: relative;
    text-align: center;
    padding:10px; 
  }
  }  
  .banner .welcome br{
    display: none;
  }
   .banner .welcome h2 {
    font-size: 25px;
   }

   .banner .welcome span{
    font-size: 1em;
   }
     nav li{
    font-size: 18px;
  }
  .images li{
    width: 100%;
    display: block;
    margin: 20px auto;
  }

  @media screen and (max-width: 560px){
    nav li{
      font-size: 20px;
      display: block;
      width: 100%;
      margin: 12px 0;
  }